@import "tailwindcss";

@layer utilities {
  .navbar-link-container {
    @apply mx-[5px] relative;
  }

  .navbar-link-text {
    @apply inline-block relative p-[10px];
  }
}

@theme {
  --color-lightest-grey: #f8f4e9;
  --color-light-grey: #2b2b2b;
  --color-dark-grey: #1c1c1c;
  --color-darkest-grey: #171717;
}
